.main {
    background: white;
    border: 1px solid #32DE8A;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;

    font-size: 15px;
    font-family: Comfortaa, cursive;
    color: #32DE8A;
}