.main {
    background: white;
    border: 1px solid var(--main-green);
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;

    font-size: 15px;
    font-family: Comfortaa, cursive;
    color: var(--main-green);
}

.main > img { height: 20px; }