.main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: var(--header-height);
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 100%;
    max-width: var(--max-width);
}

.part {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Left part. */

.part.left {
    justify-content: flex-end;

    position: absolute;
    left: 0;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Center part. */

.part.center {
    justify-content: center;
}

.part.center .title {
    justify-self: flex-start;

    cursor: pointer;

    font-family: var(--font-family-title);
    letter-spacing: .02em;
    text-align: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Right part. */

.part.right {
    justify-content: flex-start;

    position: absolute;
    right: 0;
}

.part.right .start-btn {}

.part.right .search-btn {

}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */